<div class="contenido" id="misPokemon">
  <h2>Mis Pokemon</h2>
  <div class="pokemon-grid">
    <div class="box">

      <img src="assets/img/pokemon1.png" alt="">
      <h3>charmeleon</h3>
      <p>Type:<span>Fire</span></p>
      <p>Height:<span>11</span></p>
      <p>health:<span>68</span></p>
      <p>Attack power:<span>54</span></p>
    </div>


    <div class="box">

      <img src="assets/img/pokemon2.png" alt="">
      <h3>pidgeot</h3>
      <p>Type:<span>Normal</span></p>
      <p>Height:<span>15</span></p>
      <p>health:<span>83</span></p>
      <p>Attack power:<span>80</span></p>
    </div>

    <div class="box">

      <img src="assets/img/pokemon3.png" alt="">
      <h3>fearow</h3>
      <p>Type:<span>Normal</span></p>
      <p>Height:<span>12</span></p>
      <p>health:<span>65</span></p>
      <p>Attack power:<span>90</span></p>
    </div>

    <div class="box">

      <img src="assets/img/pokemon4.png" alt="">
      <h3>beeddrill</h3>
      <p>Type:<span>bug</span></p>
      <p>Height:<span>10</span></p>
      <p>health:<span>65</span></p>
      <p>Attack power:<span>90</span></p>
    </div>

    <div class="box">

      <img src="assets/img/pokemon5.png" alt="">
      <h3>Pikachu</h3>
      <p>Type:<span>electric</span></p>
      <p>Height:<span>4</span></p>
      <p>health:<span>35</span></p>
      <p>Attack power:<span>55</span></p>
    </div>

    <div class="box">

      <img src="assets/img/pokemon6.png" alt="">
      <h3>raichu</h3>
      <p>Type:<span>electric</span></p>
      <p>Height:<span>8</span></p>
      <p>health:<span>60</span></p>
      <p>Attack power:<span>90</span></p>
    </div>

  </div>

</div>
